footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    margin: 25px;
    text-align: center;
    font-weight: 100%;
    background: radial-gradient(circle, rgba(250, 201, 163, 0.9962184702982756) 0%, rgba(223, 220, 220, 1) 59%, rgba(226, 217, 217, 0.9485994226792279) 100%);
}